@media (max-width : 500px) {

    aside {
        height: 10600px;
    }
     .aside-content {
        display: block;
        margin-right: 25px;
     }

     .sub-aside-content {
        margin-top: 10%;
        width: 100%;
     }

     .aside-header h1 {
        color: red;
     }
}