@media (max-width : 500px) {
    .content-aside img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      .content-aside {
        height: auto;
        height: 1550px;
      }
    aside {
        height: 1600px;
    }
}