* {
    padding: 0;
    margin: 0;
}

@keyframes xoay {
  0% {
    transform: rotate(0deg);
  } 50% {
    transform: rotate(360deg);
  } 100% {
    transform: rotate(0deg);
  }
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 100px;
  width: 100vw;
}
.sticky {
  background-color: #0c3556;
  padding: 7px;
  z-index: 10;
}
.main-header {
  position: fixed;
  height: 100px;
  display: flex;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease-in-out;
  background-color: #0c3556;
}

.sub-header a {
  text-decoration: none;
  color: white;
  line-height: 100px;
  margin-left: 120px;
}

.sub-header a:hover  {
  color: rgb(78, 198, 246);
  border-bottom: 2px double #fffefe;
}
.sub-header {
margin-left: 40%;
transform: translateX(-60%);
}
.logo-header img {
  margin-top: 20px;
  margin-left: 150px;
  transition: 1s ease-in-out;
}
.logo-header img {
  animation: xoay 10s infinite;
}


.seach-header {
  line-height: 110px;
  font-size: 30px;
  color: white;
}
.seach-header:hover {
  color: rgb(78, 198, 246);
}
.slogan-header {
  position: absolute;
  color: white;
  margin-top: 30%;
  margin-left: 150px;
  text-align: center;
  font-weight: 900;
}

.nav {
  height: 745px;
  margin-top: 50px;
  
}
.sub-nav {
  display: flex;
}
.nav-info {
  margin-top: 200px;
}
.nav-info p {
  color: #a4a1a1;
  margin-top: 20px;
}
.nav-info h3 {
  margin-top: 20px;
}
.nav-info-bottom-left,
.nav-info-top-left {
  width: 50%;
  margin-right: 20px;
}
.nav-info-bottom,
.nav-info-top {
  display: flex;
  margin-left: 50px;
}

.nav-info-top {
  margin-bottom: 50px;
}
.line-bottom {
  width: 15%;
  margin-left: 300px;
  margin-top: 20px;
  border-bottom: 4px solid #0c3556;
}

.nav-header {
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-40%);
  text-align: center;
}

.nav-sub{
  margin-top: 50px;
  display: flex;
  margin-left: 150px;
}

.nav-left-top {
  text-align: right;
}
.nav-right {
  margin-left: 150px;
}
.nav-left {
  margin-right: 100px;
}
.nav-rigth-bottom,
.nav-right-top,
.nav-left-bottom,
.nav-left-top {
  width: 75%;
  font-size: 14px;
}

.nav-sub  p {
   color: rgb(156, 152, 152);
}

.article {
  height: 550px;

}
.article-header {
  text-align: center;
  font-size: 20px;
  color: rgb(21, 63, 81);;
  margin-top: 40px;
}
.nav-article {
  display: flex;
}
.ariticle-content-left {
   margin-left: 10%;
   margin-top: 15%;
}
.ariticle-content-left h3 {
  text-align: center;
}

.ariticle-content-right {
   margin-left: 10%;
}
.aside {
  height: 400px;
  
}

.aside-input-top,
.aside-input-center {
  display: flex;
}

.aside-input-center input,
.aside-input-top input {
  width: 320px;
  margin-top: 10px;
  height: 35px;
  margin-right: 10px;
  padding-left: 10px;

}
.aside-input-bottom input {
  height: 100px;
  margin-top: 10px;
  width: 660px;
  padding-left: 10px;
}

.aside-input-bottom input:hover {
  background-color: whitesmoke;
}
.sub-aside {
  margin-left: 30%;
  padding-top: 50px;
}
.aside-buttom-submit input {
  width: 230px;
  height: 50px;
  margin-left: 200px;
  margin-top: 10px;
  background-color: #0c3556;
  color: #fffefe;
  font-weight: 900;
}
.sub-footer {
  display: flex;
}
.footer {
  width: 100vw;
  height: 300px;
  background-color: #0c3556;
  color: #fffefe;
}
.footer-left {
  margin-left: 150px;
}
.footer-left p {
  font-size: 12px;
  color: #c5c1c1;
  margin-top: 10px;
}

.footer-right {
  margin-left: 27%;
  margin-top: 20px;
}
.footer-right img {
  margin-top: 5px;
}
.footer-content {
  margin-top: 20px;
  margin-left: 20%;
}

.footer-right h6,
.footer-content h6 {
  font-size: 15px;
}


.footer-content p {
  font-size: 12px;
  color: #c5c1c1;
  margin-top: 30px;
}

.footer-bottom {
  margin-top: 20px;
}
.footer-bottom p {
  margin-top: 30px;
  margin-left: 48%;
}