* {
    padding: 0;
    margin: 0;
}
#container {
  width: 100vw;
}
@keyframes xoay {
  0% {
    transform: rotate(0deg);
  } 50% {
    transform: rotate(360deg);
  } 100% {
    transform: rotate(0deg);
  }
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 745px;
  width: 100vw;
  background: url(../Anh/pepsiblack.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sticky {
  z-index: 10 ;
  background-color: #0c3556;
  padding: 7px;
}
.main-header {
  position: fixed;
  height: 100px;
  display: flex;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease-in-out;
}

.sub-header a {
  text-decoration: none;
  color: white;
  line-height: 100px;
  margin-left: 120px;
}

.sub-header a:hover  {
  color: rgb(78, 198, 246);
  border-bottom: 2px double #fffefe;
}
.sub-header {
margin-left: 40%;
transform: translateX(-60%);
}
.logo-header img {
  margin-top: 20px;
  margin-left: 150px;
  transition: 1s ease-in-out;
}
.logo-header img {
  animation: xoay 10s infinite;
}


.seach-header {
  line-height: 110px;
  font-size: 30px;
  color: white;
}
.seach-header:hover {
  color: rgb(78, 198, 246);
}
.slogan-header {
  position: absolute;
  color: white;
  margin-top: 30%;
  margin-left: 150px;
  text-align: center;
  font-weight: 900;
}

.nav {
  height: 745px;
  width: 100vw;
}

.sub-nav-top {
  display: flex;
  margin-left: 150px;
  margin-top: 100px;
}
.content-nav-right {
  width: 50%;
  margin-left: 5%;
  text-align: center;
  margin-top: 50px;
}

.content-nav-right p,
.content-nav-right h5 {
  margin-top: 80px;
}

.nav-line-bottom {
  width: 20%;
  border-bottom: 4px solid #0c3556;
  margin-left: 280px;
  margin-top: 20px;
}

.sub-nav-bottom  {
  margin-left: 150px;
  margin-top: 30px;
  display: flex;
}

.sub-nav-bottom-img img {
  margin-right: 20px;
}

.sub-footer {
  display: flex;
}
.sub-nav-bottom-p {
  margin-left: 5%;
}
.sub-nav-bottom-p p {
  margin-top: 7px;
}
.sub-footer {
  display: flex;
}

.aside {
  height: 950px;
}






.footer {
  width: 100vw;
  height: 300px;
  background-color: #0c3556;
  color: #fffefe;
}
.footer-left {
  margin-left: 150px;
}
.footer-left p {
  font-size: 12px;
  color: #c5c1c1;
  margin-top: 10px;
}

.footer-right {
  margin-left: 27%;
  margin-top: 20px;
}
.footer-right img {
  margin-top: 5px;
}
.footer-content {
  margin-top: 20px;
  margin-left: 20%;
}

.footer-right h6,
.footer-content h6 {
  font-size: 15px;
}


.footer-content p {
  font-size: 12px;
  color: #c5c1c1;
  margin-top: 30px;
}

.footer-bottom {
  margin-top: 20px;
}
.footer-bottom p {
  margin-top: 30px;
  margin-left: 48%;
}