@media (max-width : 400px) {
     header {
      height: 250px;
     }
    .nav-header {
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    .header-logo img {
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 10;
    }
    .header-info {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
    }
    .show-header-info {
      display: block; 
      background-color: rgb(255, 255, 255);
      margin-top: 50px;
    }
    .header-info li {
        display: flex;
        margin-top: 50px;
        margin-left: 35%;
    }
    .header-logoPhone {
        display: none;
    }
    .menu-icon {
      display: block;
      margin-left: 70%;
      line-height: 100px;
      font-size: 50px;
      z-index: 10;
    }

    .home-icon {
      display: block;
      margin-right: 5px;
    }
    .sub-header-info {
       position: none;
       width: 100%;
       margin-bottom: 10px;
       left: 0;
    }
    .header-backgroud-img {
      margin-top: 100px;
      
    }
    .sub-header-info li {
      justify-content: center;
      margin-right: 100px;
    }

   aside {
    height: 3150px;
   }
   .main-section {
    display: inline-flex;
   }
   .main-section {
    margin-top: 200px;
   }
   .section-right{
    margin-top: 170%;
    width: 100%;
    right: 0;
   }
   .sub-aside-top {
    display: block;
   }
   
   .sub-aside-top-backgroud {
    width: 300px;
    margin-top: 30px;
   }

   section {
    height: 1600px;
    margin-top: 0;
   }
   .section-left img {
    width: 300px;
    height: 300px;
    margin-left: 0;
    
   }
   .car-1{
    width: 50px;
    height: 50px;
   }
   .sub-section-left img {
    width: 50px;
    height: 50px;
   }
   footer {
    height: 1050px;
   }
   .main-footer {
    display: block;
    font-size: 20px;
   }
   .footer-center {
    margin-left: 5%;
   }
   .footer-bottom {
    margin-right: 60%;
   }
    article {
      height: 1500px;
    }

   .article-content-left{
    width: 77%;
   }
   .main-article {
    display: block;
   }

}









